ballpark==1.4.0
colorama==0.4.3
colorspacious==1.1.2
hydra-core==1.0.6
imageio==2.6.1
imageio-ffmpeg==0.4.2
magickwand==0.2
matplotlib==3.1.3
moviepy==1.0.3
numpy
omegaconf==2.0.6
opencv-python==4.2.0.32
pandas==1.0.1
Pillow==6.1.0
plyfile==0.7.1
protobuf==3.14.0
PyEXR==0.3.7
pyflann-py3==0.1.0
pygifsicle==1.0.1
pyglet==1.5.7
pykdtree==1.3.1
PyMarchingCubes==0.0.2
PyOpenGL==3.1.0
pyrender==0.1.43
pytorch-lightning==1.2.8
pytorch3d==0.3.0
PyYAML==5.3.1
scikit-image==0.16.2
scikit-learn==0.22.1
scipy
submitit==1.3.3
tabulate==0.8.7
torch==1.7.1+cu110
torchaudio==0.7.2
torchfile==0.1.0
torchmetrics==0.2.0
torchvision==0.8.2+cu110
tqdm==4.48.2
trimesh==3.9.7
urllib3==1.25.8
visdom==0.1.8.9
wandb==0.10.13